.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s ease-in-out;
  /* overflow: hidden; */
}

.below-nav {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.left-below-nav {
  width: 103.88px;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.module-container {
  display: flex;
  width: 100%;
}
