.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s ease-in-out;
  /* overflow: hidden; */
}

.below-nav {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.left-below-nav {
  width: 103.88px;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.module-container {
  display: flex;
  width: 100%;
}

.back-button {
  z-index: 10000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: solid 3px black;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: scale(0.7);
}

.back {
  width: 20px;
  margin-top: 1px;
}
