@media screen and (max-width: 449px) {
  .moment-date p {
    font-size: 13px;
    margin: 0;
  }

  .moment-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 27px;
    text-align: center;
  }

  .start p {
    font-size: 15px;
  }

  .blog {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .blog-top-arrow {
    width: 25px;
    cursor: default;
    position: fixed;
    bottom: 30px;
    left: calc(50% - 12.5px);
    z-index: 1000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .moments-container {
    width: 300px;
    flex-shrink: 0;
    padding-top: 85px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .moment-paragraph {
    margin: 0;
    font-size: 14px;
    text-align: justify;
  }
}

@media screen and (min-width: 450px) and (max-width: 809px) {
  .moment-date p {
    font-size: 16px;
    margin: 0;
  }

  .moment-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
  }

  .start p {
    font-size: 16px;
  }

  .blog {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .blog-top-arrow {
    width: 25px;
    cursor: default;
    position: fixed;
    bottom: 30px;
    left: calc(50% - 12.5px);
    z-index: 1000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .moments-container {
    width: 350px;
    flex-shrink: 0;
    padding-top: 100px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .moment-paragraph {
    margin: 0;
    font-size: 15px;
    text-align: justify;
  }
}

@media screen and (min-width: 810px) {
  .moment-date p {
    font-size: 16px;
    margin: 0;
  }

  .moment-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
  }

  .blog-top-arrow {
    width: 25px;
    cursor: default;
    position: fixed;
    top: 100px;
    left: 257px;
    z-index: 1000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .moments-container {
    width: 350px;
    flex-shrink: 0;
    padding-top: 150px;
    padding-left: 110px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .moment-paragraph {
    margin: 0;
    font-size: 15px;
    text-align: justify;
  }
}

.blog {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.start {
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.start p {
  margin: 0;
}

.moment {
  padding: 25px;
  border: solid 3px black;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#last-moment {
  margin-bottom: 230px;
}

.moment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.moment-date {
  display: inline-block;
  background-color: white;
  padding: 0px 5px;
  position: relative;
  top: 10px;
  transition: all 0.3s ease-in-out;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: black;
  margin-right: 13px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.play {
  width: 11px;
}

.back-button {
  z-index: 1000;
  position: fixed;
  left: 30px;
  top: calc(50% + 10px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: solid 3px black;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: scale(0.7);
}

.back {
  width: 20px;
  margin-top: 1px;
}

.mobile-back-down-button-pictures {
  position: fixed;
  top: 90px;
  left: calc(50% - 17.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: solid 3px black;
  cursor: pointer;
  background-color: white;
  transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0.8;
  z-index: 1000;
}

/* .pictures-control {
  position: fixed;
  right: 35px;
  top: 155px;
  z-index: 1000;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0.8s;
}

#pictures-left-arrow {
  margin-right: 20px;
}

.pictures-horizontal-arrow {
  height: 25px;
  transition: all 0.3s ease-in-out;
} */
