@media screen and (max-width: 809px) {
  .home-center {
    width: 100%;
    height: 50%;
  }
}

@media screen and (min-width: 810px) {
  .home-center {
    margin-left: 45px;
    width: 75%;
    height: 70%;
  }
}

@media screen and (max-width: 449px) {
  .home-center p, .intro {
    font-size: 26px;
  }

  .download {
    transform: scale(0.8);
  }

  .home {
    padding: 360px 20px 280px;
  }
}

@media screen and (min-width: 450px) and (max-width: 699px) {
  .home-center p, .intro {
    font-size: 30px;
  }

  .download {
    transform: scale(0.85);
  }

  .home {
    padding: 360px 20px 280px;
  }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
  .home-center p, .intro {
    font-size: 40px;
  }

  .download {
    transform: scale(0.9);
  }

  .home {
    padding: 340px 20px 280px;
  }
}

@media screen and (min-width: 1000px) {
  .home-center p, .intro {
    font-size: 55px;
  }

  .home {
    padding: 300px 50px 280px;
  }
}

/* .home {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 0 20px;
} */

.home-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.home-center p {
  margin: 0;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.intro-container {
  position: absolute;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.gradient {
  z-index: 10;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.home-controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 50px;
  margin-top: -7px;
}

.arrow {
  width: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

#top-arrow, #down-arrow {
  position: absolute;
}

#top-arrow {
  top: 165px;
  left: calc(50% - 12.5px);
}

#down-arrow {
  bottom: 85px;
  left: calc(50% - 12.5px);
}

.download {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  position: absolute;
  font-size: 14px;
  color: white;
  background-color: black;
  bottom: 30px;
  left: calc(50% - 113.9px);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-decoration: none;
}

/* TEST */

.home {
  overflow: auto;
  animation-duration: 0.6s;
  animation-name: slidein;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-top: 200px;
  }

  to {
    margin-top: 0px;
  }
}

.intro {
  margin: 0;
  margin-bottom: 10px;
  transition: all 0.15s ease-in-out;
  opacity: 0;
}

.scroll-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: calc(50% - 75.695px);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.scroll-bottom p {
  margin-bottom: 7px;
}

.scroll-bottom img {
  animation-duration: 1.5s;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(10px);
  }
}
