#root, html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Varela Round";
  user-select: none;
}

@font-face {
 font-family: "Varela Round";
 src: url("../fonts/VarelaRound-Regular.ttf") format("ttf");
}
